
body{
    font-family: 'Itim', cursive;
    background-color: #03a9f4;
    padding-left: 25px;
    padding-right: 25px;
}

.parrafo{
    font-size: 24px;
}

footer{
    text-align: center;
    background-color: #0276aa;
    color: aliceblue;
    padding-top: 15px;
    padding-bottom: 15px;

}

h1,h2,h3, form{
    text-align: center;
}


p{
    padding-left: 30px;
    padding-right: 30px;
}


#videoEventos{
    width: 100%;
}

#subtituloEventos{
    color: rebeccapurple;
}

.colorParrafo{
    font-style: italic;
    color: whitesmoke;
    font-size: 18px;
}




