
body{
    font-family: 'Itim', cursive;
    background-color: #03a9f4;
    padding-left: 25px;
    padding-right: 25px;
}

.parrafo{
    font-size: 24px;
}

footer{
    text-align: center;
    background-color: #0276aa;
    color: aliceblue;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 0px;

}

form{
    text-align: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

