
body{
    font-family: 'Itim', cursive;
    background-color: #03a9f4;
    padding-left: 25px;
    padding-right: 25px;
}

.parrafo{
    font-size: 24px;
}

footer{
    text-align: center;
    background-color: #0276aa;
    color: aliceblue;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;

}

h2,h3{
    text-align: center;
    color: rebeccapurple;
    font-weight: bold;
}

h1, form{
    text-align: center;

}

p{
    padding-left: 30px;
    padding-right: 30px;
}


#videoEventos{
    width: 100%;
}

#subtituloEventos{
    color: rebeccapurple;
    font-weight: bold;
    
}

.colorParrafo{
    font-style: italic;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Rock Salt', cursive;

}

audio{
    width: 100%;
}

#btnGuardar{
    width: 10%;
    height: 40px;
    background-color: #9c27b0;
    font-size: 18px;
    color: whitesmoke;
}


